<div class="filters-container">
    <p>Filters</p>

    <form [formGroup]="filtersForm">
        <div>
            <mat-form-field class="form-field">
                <mat-label class="form-field-label">Name</mat-label>
                <input formControlName="name" matInput type="text">

            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label class="form-field-label">Name starts With</mat-label>
                <input formControlName="nameStartsWith" matInput type="text">

            </mat-form-field>
        </div>
        <div>

            <button (click)="handleFilterClick()" class="filter-button">
                <span>{{buttonLabel}}</span>
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>


</div>